---
import Form from '../components/Form'
import '../styles/globals.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main class="w-full">
			<section aria-labelledby="form section" class="w-full h-full my-[32px] md:my-[128px] px-[16px] md:px-[20px]">
				<Form client:load/>
			</section>
		</main>
	</body>
</html>
